body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
	font-size: 16px;
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
}
.notification {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #bbb;
  padding: 20px;
  width: 410px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: fade-in 0.3s forwards;
  display: none;
  border-radius: 15px;
}
.notification.hide {
  animation: fade-out 0.3s forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.notification-title {
  font-weight: bold;
  font-size: 15.5px;
  margin-bottom: 10px;
  text-align: center;
  color: #000;
}
.notification-message {
  font-size: 13.5px;
  margin-bottom: 20px;
}
.notification-close {
  background-color: #7a288a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.notification-close:hover {
  background-color: #8b3ab8;
}
#canvas {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.button-container {
    margin-top: 20px;
    background-color: #b57eb5; 
    padding: 10px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button {
    color: #fff;
    background-color: #7a288a;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
}
button:hover {
    background-color: #8b3ab8;
}
#solution-container {
    white-space: pre-wrap;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.weight-input {
    position: absolute;
    width: 30px;
    height: 20px;
}
#weight-content {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#weight-content input[type="number"] {
    width: 100%;
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#weight-content input[type="number"]:focus {
    outline: none;
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container {
    display: flex;
    height: 100vh;
}

.main-content {
    width: 80%;
    overflow-y: auto;
}

.weight-content {
    width: 20%;
    overflow-y: auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-left: 1px solid #ddd;
}
